<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="template :: head"></div>

<body class="d-flex flex-column min-vh-100">

<div th:replace="template :: header"></div>

<content class="container">
    <div class="px-4 py-5 mt-5 text-center">
        <h1 class="display-1 fw-bold text-body-emphasis mb-4">View Tiktok anonymously</h1>
        <div class="col-lg-6 mx-auto">
            <form action="/">
                <div class="input-group mb-3">
                    <input name="username" type="text" class="form-control" placeholder="Search user by name"
                           th:value="${username} ?: ''"
                           aria-label="Search user by name" aria-describedby="button-addon2">
                    <button class="btn btn-dark btn-lg px-4" type="submit" id="button-addon2">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="px-4 text-center">
        <div class="container card mb-4" style="width: 20rem;" th:each="user: ${users}">
            <img class="card-img-top mt-3" th:src="${user.avatar_300x300.url_list[0]}" />
            <div class="card-body">
                <h5 class="card-title" th:text="'@' + ${user.unique_id}"></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${user.getHumanReadableFollowerCount()} + ' followers'"></h6>
                <p class="card-text" th:text="${user.nickname}"></p>
                <a th:href="'?secUid=' + ${user.sec_uid} + '&username=' + ${user.unique_id} " class="btn btn-dark stretched-link">Go Visit</a>
            </div>
        </div>

        <div th:each="video: ${videos}" th:utext="${video}"></div>
    </div>
</content>

<div th:replace="template :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>